@using WebAppWare.Infrastructure
@model Warehouse

<h4 class="pb-2">Usuwanie magazynu</h4>

<div class="col-4 row form-group">
	<form method="post" class="row" asp-controller="Warehouse" asp-action="Delete">
		<label class="ms-2 pb-2" asp-for="@Model.Name"></label>
		<input class="form-control border-0 shadow mb-2" disabled asp-for="@Model.Name" />
		<label class="ms-2" asp-for="@Model.IsActive"></label>
		<input class="ms-2 mb-2" disabled asp-for="@Model.IsActive" />
		<button type="submit" class="btn btn-danger form-control mb-2">Usuń</button>
		<a class="btn btn-secondary" asp-controller="Warehouse" asp-action="Index">Wróć do listy</a>
	</form>
</div>