@* @using WebAppWare.Infrastructure
@model Warehouse

<h4 class="pb-2">Edycja magazynu</h4>

<div class="col-4 row form-group">
	<form method="post" class="row" asp-controller="Warehouse" asp-action="Edit">
		<label class="ms-2 pb-2" asp-for="Name" ></label>
		<input class="form-control border-0 shadow mb-2" asp-for="Name"/>
		<span class="text-bg-danger" asp-validation-for="Name"></span>

		<label class="ms-2" asp-for="IsActive"></label>
		<input class="ms-2 mb-2" asp-for="IsActive" />
		<span class="text-bg-danger" asp-validation-for="IsActive"></span>
		<button type="submit" class="btn btn-primary form-control mb-2">Aktualizuj</button>
	</form>
	<a class="btn btn-secondary" asp-controller="Warehouse" asp-action="Index">Wróć do listy</a>
</div> *@