@model List<ProductFlowModel>

<div class="col-10 row">
	<h4 class="mb-2">Podsumowanie produktów: </h4>

	<table class="table table-bordered table-striped" style="width: 100%">
		<thead>
		<th>
			Index
		</th>
		<th>
			Magazyn
		</th>
		<th>
			Ilość
		</th>
		</thead>

		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@item.ProductItemCode
					</td>
					<td>
						@item.WarehouseName
					</td>
					<td>
						@item.Cumulative
					</td>
				</tr>
			}
		</tbody>


	</table>
