@model SupplierModel

<h4 class="pb-2">Dodawanie dostawcy</h4>

<div class="col-4 row form-group">
	<form method="post" class="row" asp-controller="Supplier" asp-action="Upsert">
		<label class="ms-2 pb-2" asp-for="Name">Nazwa dostawcy:</label>
		<input class="form-control border-0 shadow mb-2" asp-for="Name" />
		<span class="text-danger" asp-validation-for="Name"></span>

		<label class="ms-2" asp-for="Email">Adres e-mail:</label>
		<input class="form-control border-0 shadow mb-2" asp-for="Email" />
		<span class="text-danger" asp-validation-for="Email"></span>

		<button type="submit" class="btn btn-success form-control mb-2">Dodaj</button>
		<a class="btn btn-secondary" asp-controller="Supplier" asp-action="Index">Wróć do listy</a>
	</form>
</div>